## ---------- BULD FILES -----------##
*.asm
*.cp
*.dct
*.dic
*.asm
*.dlt
*.c.ini
*.h.ini

## ---------- Project Private Files -----------##
*.log
*.dbg
*.lst

## ---------- IDE Files -----------##
.vscode/
*.bmk
*.brk
*.mcl
*.mcppi_callertable*.txt
